.cards {
  background: #fff;
}

h1 {
  padding-top: 3.4rem;
  text-align: center;
}

/* SPACE "CONTAINING" CARDS */
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  animation: 0.8s fadeInUp;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgb(38, 37, 37);
  transform: scale(1.11, 1.1);
  transition: all 800ms;
  border-radius: 15px;
  padding-right: 10px;
}

/* SPACE AROUND ALL THE CARD ITSELF */
.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  width: 100%;
}

/*Card List*/
.cards {
  list-style-type: none;
}

/*Card itself*/
.cards__item {
  display: flex;
  padding: 10px;
  width: 120%;
  flex-direction: column;
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.cards__item__status_finished {
  color: red;
  text-align: center;
  border: solid;
  border-radius: 21px;
}
.cards__item__status_ongoing {
  color: green;
  text-align: center;
  border: solid;
  border-radius: 21px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
}

.cards__item__reward {
  text-align: center;
}

.cards__item__info {
  padding: 20px 0px 30px;
}

.cards__item__title {
  color: #252e48;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*---------------------END CardItem.js CSS---------------------*/

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
    width: 100%;
  }
}

/* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
